body {
    background: #F8F8F8
}

.page {
    width: 1400px;
    background: white;
    margin: 0 auto;
}

.container {
    width: 970px;
    margin: 0 auto;
}

/* header */
header {
    padding: 31px 0;
    position: relative;
    box-shadow: 0 2px 11px 0 rgba(0,0,0,0.15);
}

.header_phone {
    text-align: right;
    color: #E15826;
    font-size: 160x;
    letter-spacing: 1.33px;
    font-family: "Open Sans";
}

h1 {
    text-align: center;
    font-family: "Enriqueta";
    color: #E15826;
    font-size: 22px;
    height: 30px;
    font-weight: bold;
}

.logo {
    height: 136px;
    width: 101px;
    position: absolute;
    top: 0px;
}

.sound {
    display: inline-block;
}

.sound_header {
    margin: 104px 101px 34px 101px;
}

.sound_icon {
    height: 30px;
    width: 35px;
    vertical-align: middle;

}

.sound_text {
    padding: 0 40px 5px 40px;
    vertical-align: middle;

}

.sound_icon:nth-of-type(2) {
    transform: scaleX(-1);
}


/* video */
.video {
    height: 454px;	
    width: 970px;
    background-image: url("./images/Group\ 2@3x.jpg");
    background-size: cover;
    margin: 0 auto;
}

/* button */
.next_step {
    height: 57px;
    width: 200px;
    border-radius: 100px;
    background-color: #FF9E32;
    color: #FFFFFF;	
    font-family: Helvetica;	
    font-size: 14px;	
    font-weight: bold;	
    letter-spacing: 2px;	
    line-height: 14px;
    margin: 45px 385px;
}

/* dr. melina */
.melina {
    display: flex;
    width: 770px;
    padding-bottom: 50px;
}

.melina_heading {
    font-size: 25px;
    height: 32px;
    width: 200px;
    text-align: left;
}

.nutritionalist {
    font-family: "Open Sans";
    height: 18px;
    width: 124px;
    font-size: 18px;
    font-weight: 300;
    line-height: 21px;
}

.melina_title {
    border-right: 2px solid #625E5D;
    height: 141px;
    margin-top: 20px;
    margin-left: 30px;

}

.melina_bio {
    height: 120px;	
    width: 337px;	
    color: #000000;	
    font-family: "Open Sans";	
    font-size: 14px;	
    font-weight: 300;	
    line-height: 20px;
    margin-left: 31px;
    margin-top: 24px;
}

.melina_img {

}

/* info */
.info_header {
    margin: 74px 0;
}

.info_info {
    height: 185px;
    width: 769px;
    border-radius: 8px;
    background-color: #FFFFFF
}

ul {
    columns: 2;
    height: 118px;
    width: 643px;
    padding: 34px;
    margin: 0 auto 0 60px;
}

li {
    font-family: "Open Sans";
    font-size: 16px;
    line-height: 20px;
    height: 40px;
    width: 245px;
    margin-bottom: 38px;
}

ul li:before {
    content: "";
    background-color: #E15826;
    width: 11px;
    height: 11px;
    display: inline-block;
    margin-left: -30px;
    margin-right: 18px;
    border-radius: 5.5px;
}



/* citations */
.citations {

}

.citations_header {
    height: 30px;	
    width: 768px;	
    color: #E15826;	
    font-family: Enriqueta;	
    font-size: 16px;	
    font-weight: bold;	
    line-height: 21px;
    margin-top: 57px;
    margin-bottom: 12px;
}

.citations_text {
    height: 318px;	
    width: 971px;	
    color: #616161;	
    font-family: "Open Sans";	
    font-size: 11px;	
    line-height: 15px
}

/* footer */
.footer_title {
    height: 21px;	
    width: 769px;	
    color: #616161;	
    font-family: Enriqueta;	
    font-size: 16px;	
    font-weight: bold;	
    line-height: 16px;	
    text-align: center;
}

.footer_text {
    height: 90px;
    width: 970px;
    color: #616161;
    font-family: "Open Sans";
    font-size: 12px;
    line-height: 18px;
    margin: 10px 0;
}

.footer_privacy {
    height: 21px;	
    width: 769px;	
    color: #E87335;	
    font-family: Enriqueta;	
    font-size: 14px;	
    font-weight: bold;	
    line-height: 16px;	
    text-align: center;
}